.main {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
}

.main__headerH1 {
    margin: 16px 0px;
    font-weight: 700;
}

.main__headerH2 {
    margin: 2px 0px;
    padding: 10px 30px;
    flex-grow: 1;
}

@media (max-width: 688px) {
    .main__headerH2 {
        flex-basis: 100%;
    }
    .main__toogleTasksButtons {
        flex-basis: 100%;
    }
}

.main__paragraph {
    background-color: white;
    border-bottom: lightslategrey;
    border-style: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.main__toogleTasksButtons {
    padding: 10px;
    border-style: none;
    background-color: white;
    color: teal;
}